<footer>
    <div class="f-info">
        <!-- <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div> -->
        <div class="f-info-socials">
            <a href="/misc/socialError" text-decoration="none">
                <i class="fa-brands fa-facebook"></i> 
            </a>
            <a href="https://www.instagram.com/livanapvtltd/">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="/misc/socialError">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; Livana Private limited</div>
        <div class="f-info-links">
            <a href="/misc/privacy">Privacy </a>
            <a href="/misc/terms">Terms</a>
        </div>
    </div>
</footer>